h1{font-size:120px;
      font-family:Bernard MT Condensed;
      color:#990000;
text-align:right}

#header img{
      height: 120px;
      float:center;
}

.navbar {
      background-color: #990000;
}
p1{font-size:15px;
      font-style:bold


}

#myCarousel{
width:500px;
margin:auto;
}

