h1{font-size:120px;
      font-family:Bernard MT Condensed;
      color:#990000;
text-align:right}

#header img{
      height: 120px;
      float:center;
}

.navbar {
      background-color: #990000;
}
p1{ 
            font-weight:bold; 
            font-style: italic; 
            font-family: 'Arial'; 
}

#myCarousel{
width:500px;
margin:auto;
}
#Bundesliga
iframe{
width:100px
}



