h1{font-size:100px;
      font-family:Bernard MT Condensed;
      color:#990000;
text-align:right}

#header img{
      height: 150px;
      float:left;
}

.navbar {
      background-color: #990000;
}
p1{font-weight:bold; 
            font-style: italic; 
            font-family: 'Arial'; 
}

#myCarousel{
width:500px;
margin:auto;
}
#Bundesliga
iframe{
width:1000px;
height:200px
}
p3{font-weight:bold;             
      font-style: italic;             
      font-family: 'Arial';
      font-size:40px;
}

h3{font-weight:bold;             
      font-style: italic;             
      font-family: 'Arial';
      font-size:40px;
      color:#990000
}
#Erfolge img{height:700px;
      width;250px;
      
}
#Bundesliga ol{
      font-size:22px;
      color:#990000;
      font-family:Fantasy
}


}


