h1{font-size:120px;
      font-family:Bernard MT Condensed;
      color:#990000;
text-align:right}

#header img{
      height: 70px;
      float:center;
}

.navbar {
      background-color: #990000;
}
p1{font-size:12px;
      font-style:fat


}
